/* ====== Graph Container ====== */
.graph-container {
    width: 100%;
    height: 100%;
    /* background-color: #121212 important!; Match Smarkets dark theme */
    border-radius: 8px;
    text-align: center;
}

/* ====== Title Styling ====== */
.graph-container .graph-title {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #00b073; /* Modern green */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", "Arial", sans-serif;
}

/* ====== Graph Labels ====== */
.graph-container .graph-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 10px;
}

/* ====== Chart Area ====== */
.chart-wrapper {
    width: 98%;
    height: 300px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

/* ====== Input Box Styling ====== */
.time-window-input {
    margin-bottom: 20px;
    width: 140px;
    background-color: #303030;
    color: #ffffff;
    border-radius: 5px;
}

